/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(246 248 249);;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* HEADER */

header {
    
    padding: 0px 20px;
    background-color: white;
    height: 70px;
    line-height: 60px;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
} 

header h1 {
    display: inline-block;
    font-size: 35px;
}

/* MAIN */
/* Button */

.button-section {
    height: 50px;
    line-height: 45px;
    padding: 5px 40px;
    background-color: white;
    margin-top: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button-t {
    color: white;
    background-color: rgb(71 173 241);
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
}

.button-s {
    color: gray;
    background-color: white;
    border: solid 1px gray;
    padding: 6px 15px;
    border-radius: 5px;
}

/* List */
.list-section {
    height: 600px;
    background-color: white;
    margin-top: 2px;
    padding: 25px 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul {
    list-style: none;
}

li h3 {
    margin-top: 30px;
}

li {
    margin-top: 15px;
}

ul span {
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 65px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
}

.span-edit {
    background-color:rgb(71 173 241);
}

.span-q1 {
    background-color: blueviolet;
}

.span-recru {
    background-color: green;
}

.span-mobile {
    background-color: orange;
}

.span-website {
    background-color: palevioletred;
}

.span-sales {
    background-color: aquamarine;
}

.span-check {
    color: lightseagreen;
    font-size: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: solid 1px;
    margin-right: 5px;
}

.span-cross {
    color: red;
    font-size: 15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: solid 1px;
    margin-right: 5px;
}

